**/bin/
**/obj/
**/out/
logs/
*.log

**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.gitignore

**/.env
**/.env.*
docker-compose.yml
docker-compose.override.yml

Models/
NeuroNotes.Infrastructure/Resources/Models/Vosk/
**/vosk-model-*/

*.md